{%extends "layout.html" %}

{%block content %}
<br>
<div class="content-section" style="border-radius: 10px;">
    <center><h1>Future interface d'admin</h1></center>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-sm" style=" border-radius: 10px;background-color:rgb(238, 238, 238); margin-left: 10px; margin-top: 50px; ">
            <br>
            <center> <a href="/coucou">Ajouter un type de mini-routeur</a> </center>
            <br>
          </div>
          <div class="col-sm" style=" border-radius: 10px; background-color: rgb(238, 238, 238); margin-left: 10px; margin-top: 50px;">
            <br>
          <center> <a href="/wireguard">Configuration Wireguard</a> </center>
          <br>
        </div>
        </div>
        <br>
        <center> <div class="btn"> <a href="/dashboard"> Retour </a></div> </center>
</div>
{%endblock content%}