{%extends "layout.html" %}

{%block content %}
<br>
<div class="content-section" style=" border-radius: 10px; height: 100%;">
  <div class="container">
    <center> <h1> Bienvenue sur MiniRoutix</h1> </center>
    <br>
    <i><p> MiniRoutix est la plateforme de gestion des mini-routeurs du réseau MiNET. </p></i>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm" style=" border-radius: 10px; background-color:rgb(238, 238, 238); margin-left: 10px; margin-top: 10px; ">
        <br>
        <center> <a href="/coucou">Démonstration</a> </center>
        <br>
      </div>
      <div class="col-sm" style=" border-radius: 10px; background-color: rgb(238, 238, 238); margin-left: 10px; margin-top: 10px;">
        <br>
      <center> <a href="/dashboard">S'authentifier</a> </center>
      <br>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
